<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ room.name }}</h1>
    <p> {{room.creator}} </p>
    {% if request.user == room.creator %}
        <a href="{% url 'edit_room' room.id %}" >edit room</a>
        <br>
        <a href="{% url 'delete_room' room.id %}" onclick="return confirm ('are you sure to delete this room ?')">delete room</a>
    {% endif %}
    <h2>post in {{room.name}} </h2>
    {% for post in posts %}
        <p>@ {{post.author}} </p>
        <p> {{post.content}} </p>
        
            <a href="{% url 'delete_post' post.id %}" onclick="return confirm ('are you sure to delete this post ?')">delete post</a>
            <a href="{% url 'edit_post' post.id %}">edit post</a>

            <div>
                <h3>comments:</h3>
                    {% for comment in post.comments.all %}
                        <strong> {{comment.author}} </strong>
                        <p> {{comment.content}} </p>
                        <small><a href="{% url 'delete_comment' comment.id %}">delete</a></small>
                        <small><a href="{% url 'edit_comment' comment.id %}">edit</a></small>
                    {% endfor %}
                    <a href="{% url 'create_comment' post.id %}">create comment</a>
            </div>
            <hr>
    {% endfor %}
    <a href="{% url 'create_post' room.id %}">create post</a>
    <br>
    <a href="{% url 'home' %}">home</a>
</body>
</html>