
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/car_shop.css' %}">
</head>
<body>
    <h2>Cars For Sale</h2>
    <a href="{% url 'home' %}">home</a>
<ul>
    <form action="" method="get">
        <!--" action="" " submit the search query to the current page "name= "q" ":matches the query parameter in tyhe view-->
        <!--"value={{query}}":keet the search term visible after the submit-->
        <input type="text" name="q" placeholder="SEARCH CARS...." value="{{query}}">
        <button type="submit">search...</button>
    </form>
    {% for car in cars %}
        <h2>posted by {{car.owner.username}} </h2>
        <h3>{{car.brand}}</h3>
        <a href="{% url 'car_detail' car.id %}"> {{car.model}} </a>
        
        <h3>{{car.price}}</h3>
        <p> {{car.desciption}} </p>
        <p> {{car.type}} </p>
        
        {% if car.image %}
            <img src="{{car.image.url}}" alt="{{car.model}}" style="width: 300px;">
        {% else %}
            <p><strong>no image available</strong></p>
        {% endif %}
    {% endfor %}
</ul>
<a href="{% url 'add_car' %}">add car</a>
</body>
</html>